Flask==2.3.2
google-cloud-speech==2.26.0
google-auth==2.29.0
googleapis-common-protos==1.63.1
google-generativeai==0.6.0
google-auth-httplib2==0.2.0
google-ai-generativelanguage==0.6.5
google-api-core==2.19.0rc0
google-api-python-client==2.133.0